:host {
  margin: 1rem;
  display: block;
}

.todo-add-input {
  display: flex;
}

.todo-add-input > input {
  flex: 1;
  margin-right: 1rem;
}

.todo-add-input > mwc-button {
  flex: 0 0 20%
}

.todo-add-input > label {
  align-self: center;
}

.error {
  color: var(--app-error-color, red);
}